@font-face {
    font-family: 'ZedPlexMono';
    src: url(ZedPlexMono-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ZedPlexMono';
    src: url(ZedPlexMono-Italic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ZedPlexMono';
    src: url(ZedPlexMono-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ZedPlexMono';
    src: url(ZedPlexMono-BoldItalic.ttf) format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}