@font-face {
    font-family: "Tiny5";
    src: url(/assets/fonts/Tiny5.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url(/assets/fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
}

:root {
    --core: #11111b;
    --text: #cdd6f4;
}

* {
    box-sizing: border-box;
    color: var(--text);
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--core);
    font-family: Montserrat, sans-serif;
    background-image: url(/assets/images/bg.gif);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: Tiny5, sans-serif;
}

p {
    margin-top: 0;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 600px
}

.box {
    padding: 15px;
    border: 0.5rem dashed var(--text)
}

#main {
    padding-top: 6rem
}

@media(min-width: 1200px) {
    .container {
        max-width: 720px;
    }
}

@media(min-width: 1440px) {
    .container {
        max-width: 840px;
    }
}

@media(min-width: 1600px) {
    .container {
        max-width: 960px;
    }
}