@import url(colors.css);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    color: var(--text);
    background-color: var(--crust);
    font-family: RobotoSlab, monospace;
    background-image: url(/assets/images/bg.gif);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#footer {
    margin-top: auto;
    padding-top: 10px;
}

#content {
    margin-top: 3rem
}

h1, h2, h3, h4, h5, h6 {
    font-family: Tiny5, sans-serif;
}

p, ul, ol, dl, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

hr {
    color: transparent;
    position: relative;
    height: 0 !important;
    box-sizing: content-box;
    border-top-color: var(--text);
    border-top-width: 0.25rem;
    border-top-style: dashed;
}

hr.solid {
    border-top-style: solid;
}

hr.thicc {
    border-top-width: 0.5rem;
}

.caption {
    margin-bottom: 0;
}

a, a:visited {
    text-decoration: none;
    color: var(--mauve);
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #b494e1;
    text-decoration: underline;
}

button, .button {
    display: inline-block;
    padding: .5rem 1.5rem;
    border: 5px solid var(--text);
    background-color: transparent;
    border-right: 0;
}

button.primary, .button.primary {
    background-color: var(--mauve);
    border-color: var(--mauve);
    color: var(--base);
}

button:hover {
    cursor: pointer;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 690px
}

.container-full {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.box {
    padding: 15px;
    border: 0.5rem dashed var(--text)
}

.monospace {
    font-family: ZedPlexMono, monospace;
    font-weight: lighter;
}

.fancy {
    font-family: Tiny5, sans-serif;
}

.default {
    font-family: RobotoSlab, monospace;
    font-weight: normal;
}

.align-center {
    text-align: center;
}

.pfp {
    display: block;
    width: 100%;
    max-width: 72px;
    border-radius: 15px;
}

.friendlink > img {
    width: auto;
    max-height: 55px;
}

.friendlink {
    vertical-align: middle;
    margin-right: .3rem;
}

ul.no-dot {
    list-style-type: none;
    padding-left: 0;
}

.i {
    line-height: 1.4 !important;
}


.tooltip {
    position: absolute;
    left: 50%;
    top: -.15rem;
    transform: translate(-50%, -100%);
    border-radius: 2px;
    background-color: var(--base);
    font-size: small;
    padding: 0.35rem;
    font-weight: bold;
    text-wrap: nowrap;
    z-index: 299;
}

.tooltip:after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: .6rem;
    height: .6rem;
    transform: translate(-50%, 50%) rotate(45deg);
    background-color: var(--base);
    z-index: 300;
}

.has-tooltip {
    position: relative;
}

.has-tooltip > .tooltip {
    display: none;
}

.has-tooltip:hover > .tooltip {
    display: block;
}

@media(min-width: 1200px) {
    .container {
        max-width: 810px;
    }
}

@media(min-width: 1440px) {
    .container {
        max-width: 930px;
    }
}

@media(min-width: 1600px) {
    .container {
        max-width: 1050px;
    }
}

@media(min-height: 450px) {
    #content {
        margin-top: 6rem;
    }
}