@import url(/assets/fonts/JetBrainsMono/font.css);
@import url(/assets/fonts/RobotoSlab/font.css);

@font-face {
    font-family: 'Tiny5';
    src: url(/assets/fonts/Tiny5.ttf) format('truetype');
}

:root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: #cdd6f4;
    --subtext: #bac2de;
    --subtexter: #a6adc8;
    --surface: #585b70;
    --subsurface: #45475a;
    --mayasurface: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
}

.rosewater {
    color: var(--rosewater) !important;
}

.flamingo {
    color: var(--flamingo) !important;
}

.pink {
    color: var(--pink) !important;
}

.mauve {
    color: var(--mauve) !important;
}

.red {
    color: var(--red) !important;
}

.maroon {
    color: var(--maroon) !important;
}

.peach {
    color: var(--peach) !important;
}

.yellow {
    color: var(--yellow) !important;
}

.green {
    color: var(--green) !important;
}

.teal {
    color: var(--teal) !important;
}

.sky {
    color: var(--sky) !important;
}

.sapphire {
    color: var(--sapphire) !important;
}

.blue {
    color: var(--blue) !important;
}

.lavender {
    color: var(--lavender) !important;
}

.subtext {
    color: var(--subtexter) !important;
    opacity: 0.85;
}

.dark {
    color: var(--base) !important;
}