@import url(colors.css);

.navbar, .navbar > .container {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: flex-start;
    align-items: center;
}

.nav-menu {
    display: none;
}

label[for="nav-check"] {
    display: block;
    margin-left: auto;
    font-size: large;
}

#nav-check {
    display: none;
}

#nav-check:checked ~ .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-item, .nav-item:visited {
    color: var(--text);
    font-family: Tiny5, sans-serif;
    font-size: large;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: none;
    padding: 1rem 2rem .75rem 2rem;
    border-bottom: .25rem dashed transparent;
    transition: border-color 0.2s ease-in-out;
    text-wrap: nowrap;
}

.nav-item.active {
    color: var(--mauve) !important;
}

.nav-item:hover {
    text-decoration: none !important;
    color: var(--text);
    border-color: var(--text);
}

@media (min-width: 350px) {
    .nav-menu {
        display: flex;
        flex-direction: row !important;
        justify-content: flex-start;
        align-items: center;
        width: auto !important;
    }

    label[for="nav-check"] {
        display: none;
    }
}
