@import url(colors.css);

.navbar, .navbar > .container {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar * {
    font-family: Tiny5, serif;
    font-weight: 600;
    text-rendering: geometricPrecision;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: none;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nav-item, .nav-item:visited {
    color: var(--text);
    font-size: large;
    padding: 1rem .75rem 2rem 2rem;
    border-bottom: .25rem dashed transparent;
    transition: border-color 0.2s ease-in-out;
}

.nav-item.active {
    color: var(--mauve) !important;
}

.nav-item:hover {
    text-decoration: none !important;
    color: var(--text);
    border-color: var(--text);
}
