.member {
    display: grid;
    grid-template-areas:
                    "pfp pfp pfp pfp pfp pfp"
                    "desc desc desc flags flags flags"
                    "names names prns prns compl compl";
    grid-auto-columns: 1fr;
    grid-gap: 1rem;
    margin-bottom: 1rem;
}

/*@media (max-width: 530px) {*/
/*    .member {*/
/*        grid-template-areas: "pfp pfp"*/
/*                    "desc flags"*/
/*                    "names names"*/
/*                    "prns prns"*/
/*                    "compl compl";*/
/*    }*/
/*}*/

@media (max-width: 530px) {
    .member {
        grid-template-areas: "pfp"
                             "flags"
                             "desc"
                             "names"
                             "prns"
                             "compl";
    }
}

.profile {
    grid-area: pfp;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.profile > div {
    justify-self: stretch;
    padding-left: 1rem;
    padding-right: 15px;
}

.description {
    grid-area: desc;
}

.pronouns {
    grid-area: prns;
}

.names {
    grid-area: names;
}

.words {
    grid-area: compl;
}

.flags {
    grid-area: flags;
}

.flags-list {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.flags-list > li {
    display: block;
    list-style: none;
    padding: 0.25rem;
    flex: 0 1 content;
}

.flag {
    height: 1.1rem;
    margin-right: .25rem;
    border-radius: 2px;
    vertical-align: middle;
}